body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
} */

a {
  text-decoration: none;
}



.Main {
  display: flex;
  justify-content: space-between;
}

.main-me {
  width: 30%;
}
.projects-container {
  display: flex;
  width: 60%;
}

.project-image {
  border-radius: 5px;
  border: solid 2px gray
}

.project-title {
  margin-top: 0;
}
.project-text {
  text-align: left;
  padding: 0 20px 0 18px;
}

.project-languages {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}