

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a192f;
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  color: #e6f1ff
}

.header-li {
  padding: 14px
}

a, a:visited {
  text-decoration: none;
  color: #e6f1ff
}

.about {
  text-align: left;
  padding: 0 20px 0 0;
  color: #a8b2d1
}


.Main {
  display: flex;
  align-items: start;
  justify-content: space-between;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 6rem;
  padding-right: 6rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.about:hover {
  background: radial-gradient(rgba(29, 78, 216, 0.15), transparent 80%);
}



.main-me {
  width: 30%;
  height: 50dvh;
  padding: 96px 0px;
  position: sticky;
  top: 0;
}

.name {
  margin-top: 0;
  font-weight: 900;
  font-size: 36px;
  color: #e6f1ff
}

.occupation {
  color: #e6f1ff;
  font-weight: 100;
}

.brand {
  color: #a8b2d1
}

.projects {
  width: 60%;
  padding: 96px 0px;
}
.projects-container, .projects-container2 {
  display: flex;
  padding-bottom: 10px;
}

.projects-container:hover, .projects-container2:hover {
  background: radial-gradient(rgba(29, 78, 216, 0.15), transparent 80%);
  background-color: #a8b2d110;
  border-radius: 10px;
}

.project-description {
  color: #a8b2d1;
  display: flex;
}

.project-github, .project-github:visited {
  color: #a8b2d1;
}

.project-image {
  border-radius: 5px;
  border: solid 2px gray;
  /* display: inline-block; */
}

.project-title {
  margin-top: 0;
  color: #e6f1ff;
  font-weight: 300;
}
.project-text {
  text-align: left;
  padding: 0 20px 0 18px;
}

.project-languages {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  color: #64ffda;
}

.project-li {
  padding: 0 1rem;
}

.Header {
  padding-bottom: 200px;
}

.footer {
  position: sticky;
  bottom:0;
  margin-top: 26rem;
  padding-bottom: 100px;
  color: #e5e5e586
}

.footer-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-size: 30px;
}

.footer-link, .footer-link:visited {
  color: #a8b2d1
}